package vdashboard;

import "htmx-events-app/views/layout"

templ Page() {
	@vlayout.Base() {
        @vlayout.Header()
        <h1 class="p-4 text-xl font-bold">Dashboard</h1>
		<div class="p-4 grid gap-4">
			<main class="w-full">
			</main>
		</div>
	}
}
