@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .submit-btn {
        @apply py-2 px-4 bg-gray-500 text-white rounded-md
    }

    .card {
        @apply p-4 border rounded-md bg-secondary
    }
}

@keyframes test {
    0% {
        opacity: 0;
        transform: translateX(10px) scale(0.95);
    }

    100% {
        opacity: 100;
        transform: translateX(0) scale(1);
    }
}

input,
textarea {
    @apply rounded-md border p-1
}

.toast {
    @apply flex items-center p-4 rounded-lg shadow-md bg-gray-50;
    animation-name: test;
    animation-duration: 300ms;
}

.toast-success {
    @apply bg-green-50 border-l-4 border-green-300;
}

.toast-info {
    @apply bg-blue-50 border-l-4 border-blue-300;
}

.toast-danger {
    @apply bg-red-50 border-l-4 border-red-300;
}

.toast-message {
    @apply flex-1 text-sm;
}
