package vcomponents;

templ InviteAttendeesPanel(eventTitle string) {
	<form class="grid gap-2 rounded-md" hx-post="/invitations/many" hx-trigger="submit" hx-swap="none" hx-ext="json-enc">
		<input value={ eventTitle } hidden name="event"/>
		<h2>Invite users to this event</h2>
		@Multiselect{
			Name:        "attendees",
			Placeholder: "Search...",
			DataUrl:     "/components/multiselect/all-users",
		}.UI()
		<button class="text-sm p-2 border rounded-md">Send</button>
	</form>
}
