package vlayout;

import "htmx-events-app/views/components"

templ Header() {
	<header class="flex justify-between p-4">
        @vcomponents.Logo("/dashboard")
		<nav>
			<ul class="flex gap-10">
				<li>
					<a href="/events">Events</a>
				</li>
				<li>
					<a href="/reports">Reports</a>
				</li>
				<li>
					<button hx-post="/auth/logout">Log out</button>
				</li>
			</ul>
		</nav>
	</header>
}
